@import "./shared/colors";

$secondary: rgba(150,87,60,0.8),;


.example-spacer {
    flex: 1 1 auto;
  }

.bg-primary{
  color: $primary;
  background-color:$secondary;
}
.menuButtons{
  color: blue;
}


// .main-background{
//   background-color: rgba(150,87,60,0.4);

// }