
<mat-toolbar class="bg-primary" >
  <button mat-icon-button routerLink="/home">
    <mat-icon>sports_baseball</mat-icon>
  </button>
  <span>Stadium Info</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [routerLink]="'/user/'+(user)" >
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="!user" routerLink="/login" routerLinkActive="active" mat-icon-button >
    <mat-icon>login</mat-icon>
  </button>
  <button *ngIf="user" (click)="logout()" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


<div [@routeAnimations]="prepareRoute(outlet)">
<router-outlet #outlet='outlet'></router-outlet>
</div>